.is-container-large,
.aside-container-large
{
    max-width: 1110px;
}

.is-container-large,
.is-container-medium,
.is-container-small
{
    min-width: 0;
    margin-left: auto;
    margin-right: auto;
}

.aside-container-large
{
    padding: 1rem;
    padding-top: 0;
}

@media only screen and (max-width: 767px)
{   // Is mobile
    main { margin: 1rem; }
}