.is-container-large,
.aside-container-large
{
    max-width: 1110px;
}

.is-container-large,
.is-container-medium,
.is-container-small
{
    min-width: 0;
    margin-left: auto;
    margin-right: auto;
}

.aside-container-large
{
    padding: 1rem;
    padding-top: 0;
}

@media only screen and (max-width: 767px)
{   // Is mobile
    main { margin: 1rem; }
}

@media (prefers-color-scheme: dark)
{
    :root {
        --text-colour: #bbbbbb;
        --pager-colour: #fafafa;
    }
    
    body
    {
        background-color: #263238;
        color: var(--text-colour);
    }
    small { color: var(--text-colour); }
    h1, h2, h3 { color: #eaeaea; }
    code { color: #f92672; }
    pre
    {
        background-color: #000000;
        code { color: var(--pager-colour); }
    }
    .pager a,
    .pager span,
    .pager a:last-child,
    .pager span:last-child
    {
        border-color: var(--pager-colour);
    }
    .pager a,
    .pager span
    {
        color: var(--pager-colour);
        &.is-active
        {
            color: #f92672;
            background-color: var(--pager-colour);
        }
    }
    .pager a.is-disabled
    {
        color: #000000;
    }
}
